# Nand2Tetris specific
*.out
*.cmp
SupaTinendo VM/*.vm
SupaTinendo VM/*.asm
SupaTinendo Assembler/*.asm
SupaTinendo Assembler/*.hack

# C Compiler outputs
*.exe
*.o
*.obj

# System junk
Thumbs.db
.DS_Store
