# Nand2Tetris specific
*.out
*.cmp
HackEmulator in C/*.vm
HackEmulator in C/*.asm
HackEmulator in C/*.hack

# C Compiler outputs
HackEmulator in C
*.exe
*.o
*.obj

# Editor junk
.zed/
.vscode/

# System junk
Thumbs.db
.DS_Store
